<aside class="sidebar about right">
  <img
    src="https://avatars0.githubusercontent.com/u/42017052?s=460&u=eb051626b4f75910c8a263ab1c9663e0a8552c0a&v=4"
  />
  <div>
    <h2>Sujeong Lee</h2>
    <p>📧 <a href="mailto:e2ssue@gmail.com">e2ssue@gmail.com</a></p>
    <p>
      <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>
      <a href="https://github.com/2ssue">2ssue</a>
    </p>
    <br />
    <p>Want to be developers who want to work together🤗</p>
  </div>
</aside>
<a href="https://github.com/2ssue">
  <div class="tiny-about">
    <img
      src="https://avatars0.githubusercontent.com/u/42017052?s=460&u=eb051626b4f75910c8a263ab1c9663e0a8552c0a&v=4"
    />
    <div>
      <h4>Sujeong Lee</h4>
      <p>Want to be developers who want to work together🤗</p>
    </div>
  </div>
</a>
