{% if paginator.total_pages > 1 %}
  <div class='pagination'>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        🌘
      </a>
    {% else %}
      <span>🌚</span>
    {% endif %}

    <span class="pagination-selected">{{ paginator.page }}/{{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
        🌖
      </a>
    {% else %}
      <span>🌝</span>
    {% endif %}
  </div>
  {% endif %}
</div>