.go-post-home {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50px;
  padding: 0 1rem;
  font-size: 2rem;
  background-color: rgba(256, 256, 256, 0.5);
  border: 1px solid black;
  color: black;
  cursor: pointer;
  span {
    display: none;
  }

  @media screen and (min-width: 1000px) {
    right: calc(100% - #{$content-width} - (100% - #{$content-width}) / 2);
    bottom: 20%;
    &:hover {
      text-decoration: none;
      span {
        display: inline-block;
      }
    }
  }
}

  &:hover {
    span {
      display: inline-block;
    }
  }
}
