.categories {
  ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 2px;
    border-top: 2px solid lightgray;
    margin-bottom: 2px;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: $default-color;
      text-decoration: none;
      a {
        color: black;
      }
      span {
        display: inline-block;
      }
    }

    h3 {
      margin: 0;
      font-size: 1rem;
    }

    @media screen and (min-width: $on-large) {
      span {
        display: none;
      }
    }
  }
}
