.sidebar {
  position: absolute;
  top: calc(55.95px + 1rem);
  left: calc(100% - 1000px - (100% - 1000px) / 2 - 300px);
  transition: all 1s;
  transform: translateX(-300px);

  @media screen and (min-width: 1600px) {
    transform: translateX(0);
  }

  img {
    width: 300px;
  }

  ul {
    margin: 0;
  }

  li {
    display: block;
    padding: 2px;
    margin-bottom: 2px;

    &:hover {
      cursor: pointer;
      background-color: $default-color;
      text-decoration: none;
      a {
        color: black;
      }
    }

    h3 {
      margin: 0;
      font-size: 1rem;
      display: inline-block;
    }

    span {
      float: right;
    }
  }
}
