.post {
  .post-meta {
    text-align: right;
    padding: 1rem 0;
    border-top: 1px solid lightgray;
  }
}

.post-title {
  word-break: keep-all;
  text-align: left;
}

.post-content {
  a {
    border-bottom: 2px solid;
  }
  a:hover {
    text-decoration: none;
  }
}

.align-center {
  display: block;
  margin: auto;
}

.align-right {
  float: right;
  margin-left: 1rem;
}

.align-left {
  float: left;
  margin-right: 1rem;
}

.notice {
  background-color: #f8f9f9;
  border-radius: 4px;
  padding: 5px;
  font-size: 0.8rem;
}

.notice--warning {
  background-color: #fbf2e6;
  border-radius: 4px;
  padding: 5px;
  font-size: 0.8rem;
}

.notice--info {
  background-color: #ebf5f8;
  border-radius: 4px;
  padding: 5px;
  font-size: 0.8rem;
}

.post-pagination {
  display: flex;
  margin-bottom: 1rem;
  min-height: 3rem;
  a {
    border: 1px solid $default-color;
    border-radius: 4px;
    flex: 1;
    margin: 2px;
    text-align: center;
    &:hover {
      background-color: $default-dark-color;
      color: white;
    }
    p {
      font-size: 0.8rem;
      margin: 0;
    }
  }
  .disabled {
    border-color: lightgray;
    cursor: default;
    color: gray;
    &:hover {
      background-color: unset;
      color: gray;

      text-decoration: none;
    }
  }
}

.search {
  cursor: pointer;
  width: 13rem;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  outline: none;
  opacity: 0.7;
  max-width: calc(1000px - (30px * 2));
  &:focus {
    transition: width 1s;
    opacity: 1;
    width: calc(100% - 30px);
    border-bottom: 2px solid gray;
  }

  &:hover {
    opacity: 1;
  }
}
