.unshow {
  display: none;
}

.search {
  cursor: pointer;
  width: 13rem;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  outline: none;
  opacity: 0.7;
  max-width: calc(1000px - (30px * 2));
  &:focus {
    transition: width 1s;
    opacity: 1;
    width: calc(100% - 30px);
    border-bottom: 2px solid gray;
  }

  &:hover {
    opacity: 1;
  }
}

.site-search {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid gray;
  opacity: 0.5;
  outline: none;
  height: 2rem;
  width: 10rem;
  font-size: 1.1rem;
  font-style: italic;
  &:focus {
    @media screen and (min-width: $on-medium) {
      width: 20rem;
    }
    border-bottom: 1px solid gray;
    opacity: 1;
    transition: width 0.5s;
  }
}
