.sidebar {
  position: absolute;
  width: 280px;
  top: calc(55.95px + 1rem);
  left: calc(
    100% - #{$content-width} - (100% - #{$content-width}) / 2 - #{$sidebar-width}
  );
  transition: all 1s;
  transform: translateX(-$sidebar-width);

  @media screen and (min-width: 1600px) {
    transform: translateX(0);
  }

  img {
    width: $sidebar-width;
  }

  ul {
    margin: 0;
    li {
      display: block;
      padding: 2px;
      margin-bottom: 2px;

      h3 {
        margin: 0;
        font-size: 1rem;
        display: inline-block;
      }

      span {
        float: right;
      }
    }
  }

  li:hover {
    cursor: pointer;
    background-color: $default-color;
    a {
      color: black;
    }
  }
}

.sidebar-head {
  border-bottom: $brand-color-dark 3px solid;
  color: black;
}

.toc-container {
  font-size: 12px;
  margin: 0;

  li {
    width: 280px;
    height: 100%;
    display: block;
    padding-left: 5px;
    white-space: nowrap;

    h3 {
      margin-left: 1rem;
    }

    h4,
    h5 {
      margin-left: 2rem;
    }

    * {
      color: black;
      padding: 5px 0;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.fixed {
  position: fixed;
}

.right {
  right: calc(
    100% - #{$content-width} - (100% - #{$content-width}) / 2 - #{$sidebar-width}
  );
  left: auto;
  display: none;

  @media screen and (min-width: 1600px) {
    display: block;
  }
}
