.sidebar {
  position: absolute;
  top: calc(55.95px + 1rem);
  left: calc(100% - 1000px - (100% - 1000px) / 2 - 300px);
  transition: all 1s;
  transform: translateX(-300px);

  @media screen and (min-width: 1600px) {
    transform: translateX(0);
  }

  img {
    width: 300px;
  }

  ul {
    margin: 0;
    li {
      display: block;
      padding: 2px;
      margin-bottom: 2px;

      h3 {
        margin: 0;
        font-size: 1rem;
        display: inline-block;
      }

      span {
        float: right;
      }
    }
  }

  li:hover {
    cursor: pointer;
    background-color: $default-color;
    a {
      color: black;
    }
  }
}

.toc-container {
  font-size: 12px;
  margin: 0;
  border: 1px solid lightgray;
  border-radius: 4px;

  li {
    width: 280px;
    height: 100%;
    display: block;
    padding-left: 5px;
    border-bottom: 1px solid lightgray;
    * {
      padding: 5px 0;
      margin: 0;
    }
  }
}

.fixed {
  position: fixed;
}

.right {
  right: calc(100% - 1000px - (100% - 1000px) / 2 - 300px);
  left: auto;
  transform: translateX(300px);
  @media screen and (min-width: 1600px) {
    transform: translateX(0);
  }
}
