.tags {
  max-width: $content-width;
  margin-bottom: $spacing-unit;
  text-align: justify;
  a {
    padding: 0 0.5rem;
    display: inline-block;
  }
}

.tags-posts {
  li {
    display: block;
  }
}

.post-count {
  float: right;
  margin: 0.3rem;
  margin-right: 0;
  font-size: 0.7rem;
  background-color: white;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  text-align: center;
}
