.site-logo {
  width: 32px;
  margin-right: 5px;
  border-radius: 50px;
}

.about-content {
  text-align: center;
}

.page-content {
  padding: 1rem 0;
}

.pagination {
  margin: auto;
  text-align: center;
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 1.3rem;
}

span.pagination-selected {
  display: inline-block;
  font-size: 1.6rem;
}

.author {
  display: -webkit-inline-box;
  img {
    user-select: none;
    width: 40px;
    border-radius: 50px;
    padding: 1px;
    margin-right: 0.5rem;
    border: 1px solid lightgray;
  }
}

.subject {
  &::before {
    content: url("/assets/images/quote.png");
  }
  border: none;
  text-align: center;
}

pre,
code {
  background-color: #1f2d20;
  border: none;
}

.highlight {
  background-color: #1f2d20;
  border: none;
  .k,
  .kd,
  .kc {
    color: #c792ea;
  }
  .p,
  .nb {
    color: white;
  }
  .o,
  .nt {
    color: #89ddff;
  }
  .nc,
  .kt {
    color: mintcream;
  }
  .mi,
  .se {
    color: #f78c6c;
  }
  .s1,
  .sr,
  .nn {
    color: #c3e88d;
  }
  .na {
    color: #82aaff;
  }
}

.highlighter-rouge {
  background-color: $default-color;
  border-radius: 4px;
  border: none;
  font-family: "consolas";

  .highlight {
    background-color: #1f2d20;
    border: none;

    code {
      color: #82aaff;
      font-family: "consolas";
    }
  }
}

.post-link {
  color: $default-dark-color;
}

a {
  &:visited {
    color: $default-dark-color;
  }
  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
  color: $default-dark-color;
}

.footer-col-wrapper {
  p {
    word-break: keep-all;
  }
}

.site-nav {
  z-index: 1;
}

@import "custom/tags", "custom/post", "custom/sidebar", "custom/goto",
  "custom/search", "custom/about";
