---
layout: default
---

<article class="post">
  <div class="post-content">
    {% include author.html %}
    <article>
      <h2>Projects</h2>
      <ul class="projects">
        <li class="project-card">
          <img src="https://github.com/2ssue/2019-07/raw/master/docs/thumbnail.gif" />
          <p>
            <svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg>
            <a href="https://github.com/connect-foundation/2019-07">pickyforky</a>
          </p>
          <p>🎓피키포키: 학습을 도와줄 실시간 퀴즈 플랫폼</p>
          <p>🏠 <a href="http://pickyforky.xyz">http://pickyforky.xyz</a></p>
          <p>
            <span class="highlighter-rouge">React</span>
            <span class="highlighter-rouge">Node.js</span>
            <span class="highlighter-rouge">MySQL</span>
            <span class="highlighter-rouge">socket.io</span>
            <span class="highlighter-rouge">OAuth</span>
            <span class="highlighter-rouge">nCloud</span>
            <span class="highlighter-rouge">Nginx</span>
          </p>
        </li>
        <li class="project-card">
          <img
            src="https://user-images.githubusercontent.com/42017052/78272966-26aa9f80-7549-11ea-8c0e-c946b2fb13b9.gif"
          />
          <p>
            <svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg>
            <a href="https://github.com/2ssue/electron chat">electron-chat</a>
          </p>
          <p>Electron을 활용한 웹 기반 Windows 채팅 앱 만들기 프로젝트</p>
          <p>
            🏠 <a href="https://github.com/2ssue/electron-chat/releases">electron-chat/releases</a>
          </p>
          <p>
            <span class="highlighter-rouge">React</span>
            <span class="highlighter-rouge">Firebase</span>
            <span class="highlighter-rouge">Electron</span>
          </p>
        </li>
        <li class="project-card">
          <img
            src="https://user-images.githubusercontent.com/42017052/78267926-7e91d800-7542-11ea-8c9c-4fad421c594e.gif"
          />
          <p>
            <svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg>
            <a href="https://github.com/2ssue/carousel-project-with-server"
              >carousel-project-with-server</a
            >
          </p>
          <p>Carousel UI로 다양한 아이템을 소개하는 웹 페이지</p>
          <p>
            🏠 <a href="https://2ssue.github.io/carousel-project">carousel-project-frontend-page</a>
          </p>
          <p>
            <span class="highlighter-rouge">JavaScript</span>
            <span class="highlighter-rouge">Node.js</span>
            <span class="highlighter-rouge">MySQL</span>
            <span class="highlighter-rouge">Passport</span>
          </p>
        </li>
      </ul>
    </article>
  </div>
</article>
