<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <section class="author">
          <img src="{{ site.avatar }}" />
          {{ site.author }} / {{ site.title }}
          <a href="https://github.com/2ssue">팔로우</a>
        </section>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>