---
layout: default
---

<div class="home">
  {{ content }} {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">
    {{ site.posts.size }}개의 포스트
  </h2>
  <span>🔍</span>
  <input
    id="search-input"
    class="search"
    type="text"
    placeholder="포스트를 검색해보세요"
  />
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
{%- include go_to_top.html -%}
<script type="module" src="/js/search.js"></script>
