---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

  <h3 class="archive__subtitle" style="padding-bottom: 1px; margin-bottom: 1em">Recent Posts</h3>
  <hr>
  <section class="grid__wrapper">
    {% for post in paginator.posts %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
    {% include paginator.html %}
  </section>

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

  <h3 class="archive__subtitle" style="padding-bottom: 1px">Categories & Tags</h3>
  <hr>
  <section class="page__content" itemprop="text" style="list-style: none;">
        {% for i in (1..categories_max) reversed %}
          {% for category in site.categories %}
            {% if category[1].size == i %}
              <div class="grid__item" style="font-size: smaller; margin-bottom: 10px">
                <a href="categories/#{{ category[0] | slugify }}">
                  <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
        
        {% for i in (1..tags_max) reversed %}
          {% for tag in site.tags %}
            {% if tag[1].size == i %}
              <div class="grid__item" style="font-size: smaller; margin-bottom: 10px">
                <a href="tags/#{{ tag[0] | slugify }}">
                  <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
  </section>
  </article>
</div>